* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}
/* css variable */
:root {
  --LightCyan: #e1f0f5;
  --GrayishBlue: #4e5d73;
  --DarkGrayishBlue: #323a49;
  --DarkBlue: #1f2632;
}

html {
  font-size: 62.5%; /* 1rem equal to 10px*/
}

/* css for body */
body {
  background-color: var(--GrayishBlue);
  min-height: 100vh;
  font-family: sans-serif;
  position: relative;
  line-height: 1.5;
}

/* main container */
.container {
  margin-inline: auto;
  margin-top: 20px;
  max-width: 481px;
  height: fit-content;
  padding: 25px;
  border-radius: 5px;
  background-color: var(--DarkGrayishBlue);
  color: var(--LightCyan);
}

/* heading */
.container h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 30px;
}

/* main form */
#main_form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 35px;
}

#main_form button,
#main_form input {
  padding: 5px 10px;
  font-size: 2rem;
  border: none;
  outline: none;
}

#main_form input {
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: var(--LightCyan);
}

/* main form submit button */
.Submit-btn {
  grid-column-start: 6;
  grid-column-end: 8;
  cursor: pointer;
  background-color: var(--DarkBlue);
  color: var(--LightCyan);
  display: grid;
  place-content: center;
}
.Submit-btn:hover {
  transition: 0.25s;
  background-color: var(--GrayishBlue);
}

/* to-do list item */
.todo_list_container {
  padding-inline: 15px;
}

.todo_list_item {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 25px 1fr 25px 25px;
  align-items: center;
  column-gap: 20px;
  min-height: 45px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--LightCyan);
}

/* todo title div */
.todo_title {
  grid-column-start: 2;
  grid-column-end: 3;
  overflow-x: hidden;
}
.todo_title > p {
  letter-spacing: 1px;
  font-size: 2rem;
  color: var(--LightCyan);
  height: 100%;
  width: 100%;
  line-break: loose;
}

/* line class for completed task title */
.line {
  text-decoration: 3px line-through var(--LightCyan);
}

/* todo item buttons  */
.todo_list_item button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  height: fit-content;
}
.todo_list_item button i {
  font-size: 2.1rem;
  color: var(--LightCyan);
  transition: 0.25s;
}
.completeBtn {
  grid-column-start: 1;
  grid-column-end: 2;
}
.deletebtn {
  grid-column-start: 3;
  grid-column-end: 4;
}
.editInput {
  grid-column-start: 4;
  grid-column-end: 5;
}

/* form for edit todo   */
.newForm {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100%;
}

.newForm > input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid var(--DarkBlue);
  border-radius: 5px;
  background-color: var(--LightCyan);
  color: var(--DarkGrayishBlue);
  font-size: 2rem;
  padding: 0 10px;
}

/* submit button for new form */
.submit_new_title {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* button for exit edit-task mode */
.cancel_new_title {
  grid-column-start: 4;
  grid-column-end: 5;
}

/* media queries */
@media (max-width: 481px) {
  .container {
    padding: 10px;
    margin: 0;
    border-radius: 0;
    min-height: 100vh;
  }
  .todo_title {
    overflow-x: hidden;
  }
  .todo_list_container {
    padding-inline: 5px;
  }
  html {
    font-size: 60%;
  }
}
